.ResponsiveItem {
  display: flex;
  align-items: center;
  gap:4px;
  white-space: nowrap;
  
}

.Responsive-TabBar  {
  display: flex;
  gap:8px;
  overflow: overlay;
  background: #f1f1f1;
  border-radius: 8px;
  justify-content: space-between;
  padding: 8px;
  height: auto;
  margin-top: 10px;
}
.ItemButton {
  outline: none;
  border: none;
  cursor: pointer;
  
}

button.ItemButton:hover {
  background-color: white;
  border-radius: 8px;
}
.ItemButton1 {
  outline:none;
  border: none;
  /* width: auto; */
  /* transition: all  0.5s ease; */
  background-color: rgba(232, 225, 216, 0.87);
  transform: scale(1);
  transition: all 0.1s ease-out;
  text-align: start;
  font-size: larger;
  
}
.ItemButton1.collapse {
  outline:none;
  border: none;
  /* width: auto; */
  transform: scale(0);
 
}

.Sidebar {
 display: flex;
 flex-direction: column;
  height: 100vh;
  background-color: white;
  transition: all  0.5s ease;
  width: 240px;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 8px;
  padding: 20px;
}
.Sidebar.Collapse {
  /* min-height: 100vh; */
  /* background-color: red; */
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  /* background-color: blue; */
  width: 50px;
}
.Main {
 display: flex;
 gap:10px;

}
.SideBarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  position:absolute;
  top:50vh;
  right:-15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: white;

}
.SideBarButton svg {
  transition: transform 0.5s ease-in-out;
}

.SideBarButton .rotated {
  transform: rotate(180deg);
}
.ProjectSetup  {
  overflow: overlay;
  display: flex;
  flex-direction: column;
}

.SideBarButton1 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap:10px;
  background-color:rgba(232, 225, 216, 0.87);
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  /* height: 100vh; */
}
.SideBarButton1  > button:hover {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.SideBarButton1 > div > svg {
  height: 36px;
  width: 36px;
}
.ParentSideBar {
  display: flex;
  flex-direction: column;
  gap:10px;
  
}
.SpacingBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  
}
.SpacingBetween13 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.SpacingBetween1 {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  gap:10px;
  font-size:larger ;
  cursor: pointer;
}
.box {
  margin-top: 10px;
  box-shadow: 0 0 20px 0 #2426701a;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 20px;
  /* width: 100%; */
}
.SpacingBetween2 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  gap:10px;
  font-size:larger;
  max-width: 100%;
  border: 1px solid #d5d5d5;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.ProjectSetUpSpacing {
  display: flex;
  flex-direction: column;
  gap:20px;
}
.Attached {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.Attached1 > div {
  width: 45%;
  margin-right: 4%;
  
}
.Attached1 {
  border: 1px solid #d5d5d5;
  background-color: #fcfcfc;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* transform: scale(1); */
  opacity: 1;
  /* max-height: 1000px; */
  transition:all 0.2s ease-in-out;
  gap:10px;
  max-height: 300px;
}
.Attached1.Collapsed1 {
  transform: scale(0);
  /* overflow: hidden; */
  max-height: 0px;
  padding: 0px;
}

input {
  font-family: Arial, sans-serif;
  font-size: 16px;
  /* padding: 8px; */
  padding: 10px 8px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  background-color: white;
  position: relative;
  width: 100%;
}

select {
  font-family: Arial, sans-serif;
  font-size: 16px;
  /* padding: 8px; */
  padding: 10px 8px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  background-color: white;
  position: relative;
  width: 100%;
}
/* From Uiverse.io by guilhermeyohan */ 


.selectBox {
  width: 100%;
  /* background-color: antiquewhite; */
  
  font-size: 20px;
  gap: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 10px 0px;
  /* margin-left: 10px; */
}
.selectBox:hover {
  /* width: 100%; */
  background-color: rgba(232, 225, 216, 0.87);
}
input[type="checkbox"] {
  transform: scale(1.6); /* Increase size */
}

.ProjectSetUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.IconJustify {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.Icon {
  display: flex;
  align-items: center;
  gap:4px;
}
.Profile {
  background-color: red;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}
.SpacingBetween3 {
  display: flex;
  align-items: center;

  /* justify-content: center; */
  /* padding: ; */

}
.SpacingBetween3h {
  display: flex;
  gap: 10px;
  background:#f1f1f1;
  padding: 10px;
  border-radius: 8px;
}

.SpacingBetween4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}
.SpacingBetween4:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
 cursor: pointer;
}
.noInput > input {
  border: none;
  outline: none;
  font-size: medium;
  width: 250px;

}
.SpacingBetween6 {
  display: flex;
  align-items: center;
  border: 0.1px solid black;
  /* background-color: black; */
  margin-top: 6px;
  justify-content: center;
  padding: 1px;
  border-radius: 4px;
}
.SpacingBetween7 {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap:20px;
} 
.SpacingBetween8 {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  padding: 4px;
  gap:10px;
  font-size: large;
  box-shadow: 0px 2px 0px 0px gray;
  align-items: center;
  border-radius: 4px;
  background-color: transparent;
  white-space: nowrap;
}
.SpacingBetween8:hover ,.SpacingBetween8:hover > svg > path {
  background-color: #F59794;
  opacity: 1;
  cursor: pointer;
  fill: red;
}

.BakerExternalUrl {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid gray;
  border-radius: 4px;
  padding:4px 8px;
}
table {
  border-spacing: 20px;
  border-collapse: collapse;
  /* padding: 10px; */
  position: relative;
  white-space: nowrap;
}
.TableDiv {
  white-space: nowrap;
  overflow: overlay;
  display: flex;
  max-height: var(--mybakerfilemanager-externalfiles-table-scroll);
  position: relative;

}
.ParentDiv{
  margin-top: 10px;
  position: relative;
  display: flex;
  overflow: overlay;
  width: 100%;

}
thead {
  width: 100%;
  
}
.heightFixed {
  height:100vh;
  overflow:overlay;
}
table {
  overflow: overlay;
  table-layout: fixed;
}
th, td {
  border: 3px solid gray; /* Borders around individual cells */
  padding: 10px;
  width: 200px;
}
table > thead  {
 
  background-color: var(--table-header-bcolor);
}

table td {
  padding: 10px 20px;
}
.tableData {
  position: sticky;
  z-index: 1;
  right:0px;
  background-color: white;
  text-align: right;
  min-width: 150px;
}
.tableData::after {
  content: "";
  width: 2px;
  position: absolute;
  left:0;
  top: 0;
  text-align: right;
  height: 100%;
  background-color: gray;
}
th.tableData {
  background-color: var(--table-header-bcolor);
}
table > thead {
  position: sticky;
  z-index: 2;
  top:0px;
}
.OneMore {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.SpacingBetween10 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
.SpacingBetween11 {
  display: flex;
  white-space: nowrap;

}
.SecondTable {
  overflow: overlay;
  position: relative;
  height: calc(100vh - 200px);
}
.SecondTable > table {
  table-layout: fixed;
  width: 100%;

}
.SecondTable > table thead {
  position: sticky;
  top:0px;
  z-index: 3;
}
.SecondTable   td {
  border: none;
  border-bottom: 1px solid #d5d5d5;
  /* padding: 20px; */
}
.SecondTable > table tr td {
  min-width: 159px;
}
.SecondTable > table  tr td:nth-child(2) {
  z-index: 2;
  position: sticky;
  left: 179px;
}
.SecondTable > table tr td:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #d5d5d5;
}
.SecondTable > table  tr td:nth-child(1) {
  position: sticky;
  left: 0px;
  z-index: 2;
}

.SecondTable > table tbody tr td:nth-child(2),.SecondTable > table tbody tr td:nth-child(1) {
  position: sticky;
  background-color: white;
}
.SecondTable > table thead tr td:nth-child(2),.SecondTable > table thead tr td:nth-child(1) {
  position: sticky;
  background-color: var(--table-header-bcolor);
}
.SecondTable table td {
  padding:10px 10px;
}
.Form3 {
  margin-top: 10px;
  box-shadow: 0 0 20px 0 #2426701a;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 20px;
  position: fixed;
  /* height: 100vh; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  background: white;
  z-index: 9999;
  top:5%;
  left: 25%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  text-align: left;
  z-index: 4;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  /* justify-content: center; */
}
.Form3  div {
  width: 40%;
}
.Form3 > div button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  width: auto;
}
.Form3 > div button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.0);
}
.Form3 > div button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
.box1 {
  margin-top: 10px;
  box-shadow: 0 0 20px 0 #2426701a;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 8px;
  position: relative;
  width: 290px;
  min-height: 38px;
  /* width: 100%; */
}
.box1 > select {
  text-decoration: none;
  position: absolute;
  background: none;
  padding: 0px;
  border: none;
  outline: none;
  width: 20px;
  right: 0px;
  top: 35%;

}
.SpacingBetween12 {
  display: flex;
  flex-wrap: wrap;
  gap:6px;

}
.SpacingBetween11 input[type="checkbox"]  {
  font-size: 12px;
  transform: scale(1.1);
}
.SpacingBetween11 .selectBox {
  background-color: white;
  font-size: medium;
}
.SpacingBetween11 {
  font-size: 15px;
}
.SearchTerm input {
  width: 50%;
}
.SpacingBetweenSearch {
  display: flex;
  margin-top: 10px;
  align-items: center;
  border: 1px solid gray;
  padding: 2px;
  width: 350px;
  border-radius: 3px;
}
.SpacingBetweenSearch > input {
  border: none;
  outline: none;

}

.GeneralWorkSheetsHeader {
  display: flex;
  border: 1px solid #e0e0e0;
  line-height: 21px;
  background-color: blanchedalmond;
  font-size: medium;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  align-items: center;
}
.GeneralWorkSheetsHeader  >  div  {
  /* min-width: 150px; */
  padding: 10px 23px;
  text-align: left;
  flex: 1 1;
}
.GeneralWorkSheetsHeader >  div:last-child {
  text-align: center;
  min-width: 130px;
}
.GeneralWorkSheetsHeader >  div:nth-child(2) {
  text-align: left;
  min-width: 140px;
}

.GeneralWorkSheetsHeader > div:nth-child(n+3):nth-child(-n+5) {
  width: 100px;
  /* background-color: #2ba8fb; */
}
.GeneralWorkSheetsHeader > div:first-child {
  white-space: nowrap;
}
.DifferentTable {
  position: relative;
  overflow: auto;
  margin-top: 10px;
}
.DifferentTable table {
  width: 100%;
  table-layout: fixed;
  /* border-collapse: collapse; */
  background-color: white;
 
  height: calc(100vh - 200px);
}

.DifferentTable >  table  td   {
  /* all: unset; */
  border: none;
  width: 200px;
  padding: 10px 10px;
  background-color: white;
}
.DifferentTable th {
  all: unset;
}
.DifferentTable > table tr td:last-child {
  position: sticky;
  right: 0px;
  z-index: 4;
  background-color:white;
}
.DifferentTable  table tr td:last-child::after {
  content: "";
  width: 1px;
  left: 0;
  background-color: #e0e0e0;
  position: absolute;
  height: 100%;
  top:0;
}
.DifferentTable > table tr {
  border: 1px solid #e0e0e0;
  outline: 1px solid #e0e0e0;
  border-radius: 3px;
}
.DifferentTable .box1 {
  max-width: 179px;
}

.RotateGeneral {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in-out;
}
.CollapseGeneral {
  transform: rotate(360deg);
}
.box5 {
  margin-top: 10px;
  box-shadow: 0 0 20px 0 #2426701a;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  /* padding: 2px; */
}