:root {
  font-family: "Poppins", serif;
  font-style: normal;
  --Colors-Stroke-light: #e0e0e0;
  --Colors-Stroke-dark: #a8a8a8;
  --Colors-Surface-secondary: #fafafa;
  --Colors-Stroke-median: #c6c6c6;
  --Colors-Text-primary: #262626;
  --page-content-body-section-padding: 16px 21px;
  --btn-primary-bcolor: #d92d27;
  --btn-primary-border: 1px solid #d92d27;
  --btn-primary-bshadow: 0px 2px 0px 0px #a00000;
  --btn-primary-activeColor: #fff;
  --btn-primary-icon-activeColor: #fff;
  --btn-primary-interaction-bcolor: #a20e09;
  --btn-primary-interaction-border: 1px solid #a20e09;
  --btn-primary-interaction-bshadow: 0px 2px 0px 0px #a00000;
  --btn-primary-interaction-activeColor: #fff;
  --btn-primary-icon-interaction-activeColor: #fff;
  --btn-secondary-outline-bcolor: #fff;
  --btn-secondary-outline-border: 1px solid #9b9b9b;
  --btn-secondary-outline-dotted-border: 1px dotted #da291c;
  --btn-secondary-outline-bshadow: 0px 2px 0px 0px #9b9b9b;
  --btn-secondary-outline-activeColor: #5b5b5b;
  --btn-secondary-outline-icon-activeColor: #000;
  --btn-secondary-outline-disableColor: #a8a8a8;
  --btn-secondary-outline-disablebColor: var(--Colors-Stroke-light);
  --btn-secondary-outline-disableborder: 1px solid #c6c6c6;
  --btn-secondary-outline-icon-disableColor: #a8a8a8;
  --btn-secondary-outline-interaction-bcolor: #f8f4ed;
  --btn-secondary-outline-interaction-border: 1px solid #d92d27;
  --btn-secondary-outline-interaction-bshadow: none;
  --btn-secondary-outline-interaction-activeColor: #d92d27;
  --btn-secondary-outline-icon-interaction-activeColor: #000;
  --btn-disabled-bcolor: #bdbdbd;
  --btn-disabled-bshadow: none;
  --btn-disabled-border: 1px solid #bdbdbd;
  --btn-radius: 4px;
  --btn-height: 48px;
  --btn-fontsize: 16px;
  --input-border-radius: 4px;
  --input-height: 48px;
  --textarea-height: 103px;
  --input-padding: 16px 12px;
  --select-padding: 0px 12px;
  --input-label-color: #303030;
  --input-label-size: 14px;
  --input-label-lineHeight: 16.94px;
  --input-label-fontWeight: 400;
  --input-label-marginBottom: 8px;
  --input-lable-asterisk-color: red;
  --input-lable-asterisk-size: 15px;
  --input-placeholder-color: #959595;
  --input-text-color: #303030;
  --input-text-size: 16px;
  --input-text-fontWeight: 400;
  --input-text-lineHeight: 19.36px;
  --input-default-border: 1px solid #9e9e9e;
  --input-focused-border: 1px solid #2c85ed;
  --input-focused-boxShadow: 0px 0px 2px 0px #4589ff;
  --input-hover-border: 1px solid #303030;
  --input-error-border: #d92d27;
  --input-errormsg-color: #d92d27;
  --input-errormsg-size: 12px;
  --input-errormsg-fontWeight: 400;
  --input-errormsg-lineHeight: 14.52px;
  --input-errormsg-gap: 5px;
  --input-disabled-border: 1px solid var(--Colors-Stroke-light);
  --input-disabled-bcolor: #fafafa;
  --input-disabled-color: #a8a8a8;
  --input-submit-interaction-bcolor: #a20e09;
  --input-submit-interaction-border: 1px solid #a20e09;
  --input-submit-interaction-bshadow: 0px 2px 0px 0px #a00000;
  --input-submit-disabled-bcolor: #bdbdbd;
  --input-submit-disabled-bshadow: none;
  --checkbox-checked-active: #f8f4ed;
  --success-toast-header-bcolor: #defbe6;
  --success-toast-header-border: 1px solid #defbe6;
  --success-toast-header-color: #24a148;
  --error-toast-header-bcolor: #fff1f1;
  --error-toast-header-border: 1px solid #fff1f1;
  --error-toast-header-color: #da1e28;
  --warning-toast-header-bcolor: #fcf4d6;
  --warning-toast-header-border: 1px solid #fcf4d6;
  --warning-toast-header-color: #d2a106;
  --modal-radius: 8px;
  --modal-padding: 24px;
  --modal-overlay-bcolor: rgba(0,0,0,.25);
  --modal-box-shadow: 0px 0px 15px 0px #00000040;
  --modal-heading-padding: 16px;
  --modal-heading-fontWeight: 700;
  --modal-heading-fontSize: 20px;
  --modal-heading-color: #303030;
  --modal-heading-line-height: 29.05px;
  --modal-footer-padding: 16px;
  --modal-footer-display: flex;
  --moda-footer-justifyContent: flex-end;
  --moda-footer-gap: 16px;
  --modal-footer-box-shadow: 0px 2px 15px 2px #64646433;
  --modal-body-withbackground-border: 1px solid #d5d5d5;
  --modal-body-withbackground-bcolor: #fcfcfc;
  --modal-body-withbackground-padding: 32px;
  --modal-body-withbackground-broderradius: 8px;
  --modal-body-withoutbackground-bcolor: #fcfcfc;
  --modal-body-withoutbackground-padding: 32px;
  --modal-body-withoutbackground-bottomleftbroderradius: 5px;
  --modal-body-withoutbackground-bottomrightbroderradius: 5px;
  --table-active-shade: #d0e2ff;
  --table-active-fontWeight: 500;
  --secondary-tabs-border: none;
  --secondary-tabs-count-border: 1px solid #ebe3d5;
  --secondary-tabs-color: #303030;
  --secondary-tabs-count-color: #d92d27;
  --secondary-tabs-background-color: #fff;
  --secondary-tabs-hover-bcolor: #ffd7d9;
  --secondary-tabs-hover-svgFill: #da291c;
  --secondary-tabs-active-border: 1px solid #d5d5d5;
  --secondary-tabs-active-bcolor: #fff;
  --secondary-tabs-active-svgFill: #da291c;
  --secondary-tabs-active-fontWeight: 600;
  --tab-active-shade: #d0e2ff;
  --row-info-row-gap: 32px;
  --row-info-marginbottom: 32px;
  --sidebar-width: 250px;
  --sidebar-padding: 19px 21px;
  --sidebar-menu-scroll: calc(100vh - 201px);
  --sidebar-logosize-height: 47px;
  --sidebar-smalllogosize-height: 33px;
  --sidebar-smalllogosize-width: 33px;
  --sidebar-header-projectname-padding: 8px;
  --sidebar-header-height: 57px;
  --sidebar-header-marginbottom: 10px;
  --sidebar-projectname-border: 1px solid #ebebeb;
  --sidebar-projectname-padding: 16px;
  --sidebar-projectname-radius: 4px;
  --sidebar-projectName-font-weight: 600;
  --sidebar-projectName-font-size: 16px;
  --sidebar-projectName-color: #464748;
  --sidebar-projectName-line-height: 20px;
  --sidebar-projectName-letter-spacing: 0.17000000178813934px;
  --sidebar-projectName-line-clamp: 2;
  --sidebar-listelement-active-shade: #f8f4ed;
  --sidebar-listelement-active-fontweight: 600;
  --sidebar-listelement-hover-shade: #f8f4ed;
  --sidebar-listelements-padding: 8px 16px;
  --sidebar-listelements-span-marginleft: 8px;
  --sidebar-listelements-span-fontweight: 400;
  --sidebar-listelements-span-foontsize: 14px;
  --sidebar-listelements-span-lineheight: 24px;
  --sidebar-listelements-span-letterspacing: 0.17;
  --sidebar-listelements-span-color: #7f7f86;
  --sidebar-openmenu-listelements-span-color: #101828;
  --sidebar-openmenu-listelements-span-fontweight: 600;
  --sidebar-openmenu-listelements-a-fontsize: 14px;
  --sidebar-openmenu-listelements-a-fontweight: 400;
  --sidebar-openmenu-listelements-a-fontcolor: #101828;
  --sidebar-openmenu-listelements-a-padding: 8px 16px;
  --sidebar-openmenu-listelements-a-paddingleft: 38px;
  --sidebar-openmenu-listelements-a-lineheight: 24px;
  --sidebar-openmenu-listelements-a-letterspacing: 0.17000000178813934px;
  --sidebar-openmenu-listelements-a-borderradius: 4px;
  --toggle-menu-left: 227px;
  --toggle-menu-top: 50%;
  --toggle-menu-width: 24px;
  --toggle-menu-height: 30px;
  --toggle-menu-border-radius: 100px 0px 0px 100px;
  --toggle-menu-border: 1px solid #e2e2e2;
  --toggle-menu-box-shadow: 0px 0px 20px 0px #2426701a;
  --toggle-menu-background-color: #fff;
  --toggle-menu-zindex: 999;
  --header-fontweight: 700;
  --header-fontsize: 20px;
  --header-font-color: #303030;
  --header-padding: 16px 21px;
  --header-lineheight: 24.2px;
  --header-shortname-backgroundcolor: #d92d27;
  --header-shortname-width: 32px;
  --header-shortname-height: 32px;
  --header-shortname-padding: 8px;
  --header-shortname-borderradius: 100px;
  --header-shortname-fontsize: 14px;
  --header-shortname-fontweight: 500;
  --header-shortname-lineheight: 20px;
  --header-logout-fontsize: 12px;
  --header-logout-color: #9e9e9e;
  --header-logout-fontweight: 500;
  --header-logout-fontlineheight: 17.16px;
  --header-logout-letterspacing: 0.15000000596046448px;
  --header-logout-flexgap: 8px;
  --header-logout-active-color: #d92d27;
  --header-logout-hover-color: #d92d27;
  --table-header-font-size: 12px;
  --table-header-font-weight: 500;
  --table-header-padding: 8px 18px;
  --table-header-lineheight: 24px;
  --table-header-letterspacing: 0.17000000178813934px;
  --table-header-boxshadow: 0px -1px 0px 0px rgba(0,0,0,.12) inset;
  --table-header-border-bottom: 1px solid #eceff2;
  --table-header-color: #5b5b5b;
  --table-header-bcolor: #eee;
  --table-header-active-bcolor: var(--Colors-Stroke-light);
  --table-header-hover-bcolor: var(--Colors-Stroke-light);
  --table-defination-font-size: 14px;
  --table-defination-font-weight: 400;
  --table-defination-padding: 8px 18px;
  --table-defination-lineheight: 20.02px;
  --table-defination-letterspacing: 0.15000000596046448px;
  --table-defination-boxshadow: 0px -1px 0px 0px #0000001f inset;
  --table-defination-color: #101828;
  --table-defination-bcolor: #ffffff01;
  --developer-table-scroll: calc(100vh - 180px);
  --developer-modal-scroll: calc(100vh - 143px);
  --brokerageagency-table-scroll: calc(100vh - 180px);
  --brokerageagency-modal-scroll: calc(100vh - 143px);
  --taxcalculation-table-scroll: calc(100vh - 180px);
  --taxcalculation-modal-scroll: calc(100vh - 143px);
  --salesoffice-table-scroll: calc(100vh - 180px);
  --salesoffice-modal-scroll: calc(100vh - 143px);
  --bakeragent-table-scroll: calc(100vh - 180px);
  --bakeragnet-modal-scroll: calc(100vh - 143px);
  --leadmanagement-table-scroll: calc(100vh - 180px);
  --leadmanagement-modal-scroll: calc(100vh - 143px);
  --outsideagents-table-scroll: calc(100vh - 180px);
  --outsideagents-modal-scroll: calc(100vh - 143px);
  --projectdetails-scroll: calc(100vh - 302px);
  --projectconfiguration-scroll: calc(100vh - 302px);
  --assignedbrokers-table-scroll: calc(100vh - 302px);
  --assignedbrokers-modal-scroll: calc(100vh - 385px);
  --parkinglocker-table-scroll: calc(100vh - 302px);
  --parkinglocker-modal-scroll: calc(100vh - 291px);
  --extras-table-scroll: calc(100vh - 302px);
  --extras-modal-scroll: calc(100vh - 291px);
  --depositschedule-table-scroll: calc(100vh - 302px);
  --depositschedule-modal-scroll: calc(100vh - 291px);
  --depositschedule-items-modal-scroll: calc(100vh - 230px);
  --mybakerfilemanager-attachedfiles-table-scroll: calc(100vh - 370px);
  --mybakerfilemanager-attachedfiles-modal-scroll: calc(100vh - 291px);
  --mybakerfilemanager-attachedfiles-modal-newfiles-scroll: calc(100vh - 322px);
  --mybakerfilemanager-externalfiles-table-scroll: calc(100vh - 370px);
  --mybakerfilemanager-externalfiles-modal-scroll: calc(100vh - 291px);
  --units-table-scroll: calc(100vh - 302px);
  --units-modal-scroll: calc(100vh - 310px);
  --docusign-table-scroll: calc(100vh - 302px);
  --docusign-modal-scroll: calc(100vh - 291px);
  --transactionBuyers-table-scroll: calc(100vh - 180px);
  --transactionBuyers-modal-scroll: calc(100vh - 279px);
  --transactionDiscount-modal-scroll: calc(100vh - 230px);
  --transaction-modal-scroll: calc(100vh - 256px);
  --comments-table-scroll: calc(100vh - 128px);
  --statusSummary-table-scroll: calc(100vh - 208px);
  --transactionPriceChangeRequest-modal-scroll: calc(100vh - 230px);
  --notificationOverlay-modal-scroll: calc(100vh - 230px);
  --accordian-padding: 16px;
  --accordian-title-fontsize: 16px;
  --accordian-border-bottom: 2px solid #d5d5d5;
  --zpOnData: 0,0,0;
  --shortname-backgroundcolor: #a8a8a8;
  --shortname-width: 32px;
  --shortname-height: 32px;
  --shortname-padding: 8px;
  --shortname-borderradius: 100px;
  --shortname-fontsize: 14px;
  --shortname-fontweight: 500;
  --shortname-lineheight: 20px;
  --Spacing-Main-xs: 8px;
}